* {
  margin: 0;
  padding: 0;
  border: 0;
}
#loginPage .head_list {
  width: 100%;
  height: 30px;
  background-color: #e9e9e9;
}
#loginPage .head_tit {
  height: 64px;
  background-color: #fff;
  padding-left: 174px;
  display: flex;
  line-height: 64px;
  align-items: center;
}
#loginPage .head_tit .d_logo {
  width: 40px;
  height: 40px;
  background-color: #1b598b;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginPage .head_tit .d_logo i {
  font-size: 22px;
  color: #fff;
}
#loginPage .head_tit .tit_p {
  font-size: 20px;
  font-weight: bold;
  color: #1b598b;
  margin-left: 13px;
}
#loginPage .content {
  width: 100%;
  height: 415px;
  background-color: #215496;
  display: flex;
  justify-content: center;
  align-items: center;
}
#loginPage .content .cont_it {
  width: 390px;
  background-color: #fff;
}
#loginPage .content .cont_it .it_tit .Name {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #c2c7cc;
}
#loginPage .content .cont_it .it_user,
#loginPage .content .cont_it .it_pass {
  display: flex;
  align-items: center;
  margin: 0 23px;
  border: 1px solid #bbbbbb;
  height: 38px;
  margin-top: 20px;
}
#loginPage .content .cont_it .it_user .it_us_item,
#loginPage .content .cont_it .it_pass .it_us_item {
  background-color: #f4f4f4;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #bbb;
  width: 38px;
}
#loginPage .content .cont_it .it_user .it_us_item i,
#loginPage .content .cont_it .it_pass .it_us_item i {
  font-size: 18px;
  color: #8e8e8e;
}
#loginPage .content .cont_it .it_user input,
#loginPage .content .cont_it .it_pass input {
  flex: 0.9;
  height: 38px;
  border: transparent;
  padding-left: 10px;
  outline: none;
}
#loginPage .content .cont_it .it_dl {
  background-color: #1b598b;
  line-height: 40px;
  text-align: center;
  height: 40px;
  font-size: 15px;
  color: #fff;
  margin: 0 23px;
  margin-top: 20px;
}
#loginPage .content .cont_it .it_bt {
  display: flex;
  align-items: center;
  justify-content: right;
  margin: 0 23px;
  margin-top: 28px;
  margin-bottom: 44px;
}
#loginPage .content .cont_it .it_bt span {
  font-size: 15px;
  margin-left: 22px;
}
#loginPage .content .cont_it .it_bt span:nth-child(1) {
  color: #1b598b;
}
#loginPage .bottom_btn {
  text-align: center;
  font-size: 13px;
  color: #727272;
}
#loginPage .bottom_btn ._t {
  margin-top: 34px;
}
#loginPage .bottom_btn ._t span {
  margin: 0 12px;
}
#loginPage .bottom_btn ._b {
  margin-top: 20px;
}
